<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/styleCadastro.css' />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Editar Tarefas</h1>
        
        <form action="/cadastrar/atualizar/<%= tarefa._id %>" method="POST" class="todo-form">
            <label for="nome">Nome da Atividade</label>
            <input type="text" name="nome" class="todo-input" id="nome" value="<%= tarefa.nome %>" required>

            <label for="dataTo">Data</label>
            <input type="date" name="dataTo" class="todo-input" id="dataTo" value="<%= format(tarefa.dataTo, 'yyyy-MM-dd') %>"  required>
            
            <label for="status">Status</label>
            <select name="status" id="status" class="todo-select " required>
                <option value="Pendente">Pendente</option>
                <option value="Concluido">Concluído</option>
            </select>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>